<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="mt-5">Lost Dogs of California</h1>
      <h2>Volunteer Training</h2>
      <img src="../assets/img/bcstatesolid-logo-cropped.jpg" alt="Lost Dogs of California Logo" height="200px" width="200px" class="mx-auto m-3">
    </div>
  </div>
  <div class="row">
    <form class="col-4 offset-4">
      <div class="form-group row">
        <label for="email" class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input type="email" class="form-control form-control-sm" id="email">
        </div>
      </div>
      <div class="form-group row">
        <label for="password" class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
          <input type="password" class="form-control form-control-sm" id="password">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12 d-flex justify-content-end">
          <button type="submit" class="btn btn-sm btn-dark">Sign in</button>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col-8 offset-2 text-center">
      <p class="mt-2">Want to volunteer? Please see our volunteer page <a href="http://californialostdogs.com/volunteer/">here</a> for more information.</p>
      <p><small>	&copy; 2017 Lost Dogs of California</small></p>
    </div>
  </div>
</div>
